---
layout: base.pug
title: Stuart and Tiare - Our Story
---
h2 Our Story
p We met in Seattle in early 2012, and started dating later that year.
p We had our ups and downs, and now we're getting married.
p (This is placeholder text: we'll fill it out more as the wedding gets closer)
