---
layout: base.pug
title: Stuart and Tiare - Our Story
---
h2 Our Story
p Stuart and Tiare met at an Oscars party in 2012 and haven't been able to stay away from each other since.
p Stuart proposed on December 25, 2018, we moved in together in December 2019, and spent all of 2020 quarantined together.
