---
layout: base.pug
title: Stuart and Tiare - Hotels
---
p.
  We've reserved a block at two hotels in Seattle:
p.
  For most of our guests, we recommend reserving a room at #[a.strong(href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1586911540121&key=GRP&app=resvlink") Moxy Seattle Downtown], which is stylish, affordable, and about two blocks from the park where the boat will be docked.
p.
  For our guests who would like a more luxurious stay, #[a.strong(href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1615933227476&key=GRP&app=resvlink") The Westin Seattle] is a four-star hotel with a straight one-mile ride, via the South Lake Union Trolley, direct to Lake Union Park (you can also take a cab or walk).
