---
layout: base.pug
title: Stuart and Tiare - July 10, 2021
---
hgroup
  h2.wedding-date July 10, 2021
  h3.wedding-time 5:00 PM
  h3.wedding-location Seattle, WA
ul
  li Dress code: Cocktail-formal
  li This will be an on-the-water ceremony and reception, please bring a sweater or jacket to keep warm
  li #[strong Kids are welcome!]
  li Accomodations: see #[a.strong(href="/hotels/") Hotels page]
  li Masks and sanitizer will be provided
  li Registries listed #[a.strong(href="/registry/") online]
p.
  We're getting married! After a long year of quarantine, Stuart and Tiare will finally be having their wedding in Seattle this July.
