---
layout: base.pug
title: Stuart and Tiare - July 10, 2021
---
h2.wedding-date July 10, 2021
h3.wedding-location Seattle, WA
p.
  We're getting married! After a long year of quarantine, Stuart and Tiare will finally be having their wedding in Seattle this July.
p.
  We're working with a new planner to work out the details, so most of the details on this site like day-of scheduling will be more filled in closer to the day of the wedding itself.
