---
layout: base.pug
title: Stuart and Tiare - July 11, 2020
---
h2.wedding-date Postponed until 2021
p.
  We're still getting married! But we've decided we don't want to jeopardize others' safety by doing it this summer.
p.
  More details coming soon.
