html, body {
    margin: 0 auto;
    padding: 0;
}
html {
  width: 100%;
  height: 100%;
  background: linear-gradient(0.25turn,#71c6ff, #eee, #71c6ff);
}
body {
  max-width: 800px;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  color: white;
  background: url("/2020/header.svg") top/100% no-repeat, url("/2020/footer.svg") bottom/100% no-repeat, url("/2020/midway.svg") 0 440px/100%, #214ca8;
  text-align: center;
  font-family: "Noto Serif", serif;
}
a {
  color: white;
}
.button {
  text-decoration: none;
  transition: all 100ms ease-in;
}
.button:hover {
  background: #aaa;
  border-color: #aaa;
}
header {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 440px;
  padding: 0 5em;
}
h1, h2 {
  font-family: "Trade Winds", sans-serif;
}
.wedding-date {
  font-size: 5em;
  margin: .25em 0 0;
}
.strong {
  font-weight: bold;
}
header h1 {
  font-size: 4.2em;
  text-shadow: 0px 1px 1px #4d4d4d;
  margin-bottom: 0;
}
.nonav {
  margin-bottom: .5em;
}
main {
  background: url("/2020/midway.svg") top/100%;
  padding: 0 5em;
}
footer {
  background: ;
  min-height: 432px;
}
nav {
  font-family: "Trade Winds", sans-serif;
  border: solid white;
  border-width: 1px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  font-size: 1.2em;
}
nav li {
  list-style: none;
}
main ul {
  list-style-position: inside;
  padding: 0;
}

@media (max-width: 750px) {
  header h1 {
    font-size: 4em;
  }
  .wedding-date {
    font-size: 4.2em;
  }
}

@media (max-width: 500px) {
  body {
    font-size: .8em;
  }
}

.image-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
  gap: 3px;
  max-width: 1100px;
  margin: 1rem auto 3rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.image-container {
  height: 10rem;
  overflow: hidden;
  border-radius: 2px;
}

.grid-image {
  object-fit: cover;
  height: 10rem;
  width: 100%;
}
