---
layout: photos.pug
title: Stuart and Tiare - Photos
---
#gallery.image-grid
  for photo in photos
    a(href="https://assets.stuartandtiare.com/2021/"+photo).image-container
      img(src="https://assets.stuartandtiare.com/2021/thumbs/"+photo).grid-image
script(src="https://cdn.jsdelivr.net/npm/lightgallery.js@1.4.0/dist/js/lightgallery.js")
script.
  lightGallery(document.getElementById('gallery'));
