---
layout: base.pug
title: Stuart and Tiare - Registries
---
h2 Registries
p We're registered at #[a.strong(href="https://www.amazon.com/wedding/tiare-dickinson-stuart-bentley-seattle-july-2020/registry/LW5SA2LTXYS4") Amazon] and #[a.strong(href="https://www.myregistry.com/wedding-registry/tiare-dickinson-and-stuart-bentley/2072428") Costco].
