---
layout: base.pug
title: Stuart and Tiare - Wedding Schedule
---
h2.wedding-date July 10, 2021
p: ul
  li 5:00 PM: Guests load for cocktail hour
  li 5:45 PM: Processional
  li 6:15 PM: Recessional
  li 6:30 PM: Reception departs
  li 7:00 PM: First dance
  li 7:15 PM: Cake cutting
  li 8:00 PM: Dance party!
  li 8:18 PM: Golden hour starts
  li 9:15 PM: Last call
  li 9:28 PM: Golden Hour ends
  li 10:30 PM: Disembark
