---
layout: base.pug
title: Stuart and Tiare - Wedding Schedule
---
h2.wedding-date July 10, 2021
p.
  We expect everyone to be at #[a(href="https://www.seattle.gov/parks/find/parks/lake-union-park") Lake Union Park] by 4:20 PM to board the ship for our ceremony. The reception will start shortly thereafter.
p.
  This schedule will be filled in more once we've booked a new planner.
