---
layout: base.pug
title: Stuart and Tiare - Wedding Schedule
---
h2.wedding-date July 11, 2020
p.
  We expect everyone to be at #[a(href="https://www.seattle.gov/parks/find/parks/lake-union-park") Lake Union Park] by 4:20 PM. The ceremony will start shortly thereafter.
p.
  After the ceremony, we'll be departing for the reception at 6 PM.
