extends base

append head
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/lightgallery.js@1.4.0/dist/css/lightgallery.min.css")
  style.
    /* fix for https://github.com/sachinchoolur/lightgallery.js/issues/197 */
    .lg-outer {
      text-align: left;
    }
